<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nexus.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nexus.UserSettings>
            <setting name="NexusServerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MinecraftServerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MinecraftServerArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="NgrokStartupCommand" serializeAs="String">
                <value>ngrok start --all</value>
            </setting>
            <setting name="NgrokMinecraftTunnelId" serializeAs="String">
                <value>minecraft</value>
            </setting>
            <setting name="NgrokWebPanelTunnelId" serializeAs="String">
                <value>web-panel</value>
            </setting>
            <setting name="NgrokSftpTunnelId" serializeAs="String">
                <value>sftp</value>
            </setting>
        </Nexus.UserSettings>
    </userSettings>
</configuration>